h1 {
    background-color: yellow;
    color: black;
}

.centerData {
    display: flex;
    justify-content: center;
    text-align: center;
}

.centerAlign {
    text-align: center;
}

.listStyle {
    padding: 5px;
}