<h1 style="text-align: center;">Styles in Angular</h1>
<br>
<p style="text-align: center;">1. If defined two scss in angular.json then the last one will be having higher priority.
</p>
<p style="text-align: center;">2. All the imported scss files in ts will be applicable to the component.</p>
<br>
<div style="text-align: center;">Name : {{value}}</div>
<br>
<div style="text-align: center;">
    <input type="text" placeholder="Your Name" #name>
    <button (click)="setValue(name.value)">Set Value</button>
</div>