<h1 style="text-align: center;">Contextual variables in Angular</h1>
<div style="text-align: center;">
    <div>
        <p>Variables available in for loop are called Contextual variables.</p>
    </div>
    <div>
        <h3 style="color: brown;">$last</h3>
    </div>
</div>
<div style="text-align: center;">
    @for(user of users; track user; let i = $index){
    @if($last){
    <h4 style="color: cadetblue;">{{i+1}} {{user}} </h4>
    }
    @else{
    <h4>{{i+1}} {{user}} </h4>
    }
    }
</div>